if [ -f /etc/postfix/include/main.cf.append ]; then
  cat /etc/postfix/main.cf.orig /etc/postfix/include/main.cf.append > /etc/postfix/main.cf
else
  cat /etc/postfix/main.cf.orig > /etc/postfix/main.cf
fi

if [ -f /etc/postfix/include/master.cf.append ]; then
  cat /etc/postfix/master.cf.orig /etc/postfix/include/master.cf.append > /etc/postfix/master.cf
else
  cat /etc/postfix/master.cf.orig > /etc/postfix/master.cf
fi

[ -f /etc/postfix/include/run.config ] && source /etc/postfix/include/run.config
