if [ -f /config/postfix/main.cf.append ]; then
  cat /etc/postfix/main.cf.orig /config/postfix/main.cf.append > /etc/postfix/main.cf
else
  cat /etc/postfix/main.cf.orig > /etc/postfix/main.cf
fi

if [ -f /config/postfix/master.cf.append ]; then
  cat /etc/postfix/master.cf.orig /config/postfix/master.cf.append > /etc/postfix/master.cf
else
  cat /etc/postfix/master.cf.orig > /etc/postfix/master.cf
fi

[ -f /config/postfix/run.config ] && source /config/postfix/run.config
